/* User Panel Styles */
.user-panel {
  display: flex;
  align-items: center; /* Centers items vertically within the panel */
  position: relative; /* Sets the position context for absolutely positioned dropdown */
}

.navbar-profile-pic {
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  border-radius: 50%; /* Makes the image circular */
  margin-right: 15px; /* Space between the image and dropdown button */
  cursor: pointer; /* Indicates the image is interactive */
}

.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px; /* Matches the height of the profile picture roughly */
  width: 20px; /* Narrow width for the lines */
}

.menu-icon span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #333;
  transition: background-color 1.3s;
}


.dropdown {
  position: relative; /* Ensures dropdown is positioned relative to user-panel */
}

.dropbtn {
  background: black;
  color: inherit; /* Inherits text color from parent */
  font: inherit; /* Inherits font from parent */
  cursor: pointer;
  outline: inherit; /* Inherits outline properties (for accessibility) */
  
}

.dropdown-content {
   /* Starts the menu slightly above the intended position */
  transition: transform 3s ease-out, opacity 0.3s ease-out;
  transform: translateX(0%);
  display: none; /* Hidden by default, shown on click */
  position: absolute;
  top: 110%;
  right: 0;
  background-color: #14caee;
  min-width: 60px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 5;
  width: max-content;
  padding: 10px 10px;
  border-radius: 10px; /* Optional: rounded corners */
  transition: visibility 0.3s, opacity 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.dropdown-content a,
.dropdown-content button {
  color: black;
  background-color: #3fb6ee;
  padding: 10px 60px;
  border-radius: 15px;
  margin-top: 2px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%; /* Ensures full width for easy click */
  font-weight: 700;
  text-align:center;
  font-size: 17px;
}

.dropdown-content a:hover,
.dropdown-content button:hover {
  background-color: #c8e9f5; /* Light gray background on hover for visibility */
  transform: scale(1.1);
}

/* Optional: Adding a hover effect to display dropdown */
.user-panel:hover .dropdown-content {
  transform: translateY(0);
  display: block; /* Shows the dropdown when user-panel is hovered */
  opacity: 1;
  visibility: visible;
}

.menu-icon:hover span {
  background-color: #ffffff;
}

.dropdown-content.show {
  display: block;
  opacity: 1;
  visibility: visible;
  
}
